* {
    margin: 0;
    padding: 0;

}

body {
    text-align: center;
    font-family: "Orbitron", sans-serif;
    background-color: rgb(225, 188, 156);
}

hr {
    border: 1px solid rgb(149, 145, 145);
    margin: 15px 100px;
}

a {
    text-decoration: none;
    color: white;
    padding: 10px 40px;

    font-size: 14px;
}

.fontSizestyle {
    font-size: 3rem;
    font-family: "Orbitron", sans-serif;
    color: rgb(42, 40, 40);
}

.card2 h1 {
    font-size: 3rem;
    margin: 70px;
}

.card2 button {
    border: transparent;
    width: 200px;
    height: 30px;
    border-radius: 15px;
    background-color: rgb(228, 221, 214);
    color: rgb(98, 93, 93);
    margin-top: 10px;
}

.card1 {
    background-color: rgb(225, 188, 156);
    height: 25vh;
    width: 100%;

}

.card2 {
    height: 40vh;
    background: url(./imgs/tr2.jpg) top right / 100% no-repeat;
    box-shadow: 5px 3px 20px gray;
    color: white;
    padding: 90px;
    border-radius: 15px;

}

.card3 {
    display: flex;
    margin: 50px 320px;


}

.box1 {
    background-color: rgb(246, 233, 206);
    border-radius: 15px;
    width: 300px;
    height: 240px;
    box-shadow: 5px 5px 30px gray;

}

.img1 {
    border-radius: 15px;
    position: relative;
    bottom: -20px;
    right: -20px;
    box-shadow: 5px 5px 20px gray;

}

.img2 {
    border-radius: 15px;
    position: relative;
    bottom: -20px;
    left: -20px;
    box-shadow: 5px 5px 20px gray;


}

.box1 h1,
p {
    margin: 30px;
    color: rgb(70, 66, 66);
}

.card4 {
    display: flex;
    margin: 50px 260px;
    padding: 50px;

}

.card4 img {
    border-radius: 60px;
    box-shadow: 5px 5px 20px rgb(28, 28, 28);


}



.card4 figcaption {
    position: relative;
    bottom: -160px;
    left: -100px;
}





.map {
    border-radius: 20px;
    height: 60vh;
    width: 500px;
    margin: 20px 50px;
}

.vid {
    border-radius: 20px;
    height: 60vh;
    width: 500px;
}

.card5 {
    color: rgb(70, 66, 66);
}

.card6 {
    display: flex;
    margin: 10px 340px;
}

.card6 a {
    margin: 0 50px;
    font-size: 1.1rem;
}

.card6 a:hover {
    color: black;
}

footer a {
    color: rgb(70, 66, 66);
    margin-bottom: 20px;
    margin-top: 0px;
    position: relative;
}

footer a:hover {
    color: black;
}