* {
    margin: 0;
    padding: 0;
}

/* global */
.bgViolet {
    background-color: blueviolet;
}

/* body */
body {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    height: 100vh;
}

/* main */
main {
    grid-template-columns: repeat(4, 1fr);
    display: grid;
    column-gap: 5rem;
}

div {
    background-color: palevioletred;
}