.search1 {
    width: 15em;
    margin: 1em;
    border-radius: 7em;
    display: flex;
    flex-direction: row;
    align-items: center;
    box-shadow: inset 0px 0px 20px lightgrey;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri;
    color: rgb(144, 144, 144);
}

.search {
    flex-grow: 1;
    border: none;
    background-color: transparent;
    outline: none;
    font-size: 1.2em;
    color: inherit;
}

.search-icon {
    width: 1.5em;
}

.search1::placeholder {
    color: #b6b6b6;
}