/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

* {
    margin: 0;
    padding: 0;
}

:root {
    --fontXL: 1.5rem;
}

/* global */
a,
li {
    list-style: none;
    text-decoration: none;
    color: black;
}

.dGrid {
    display: -ms-grid;
    display: grid;
}

.shadow {
    -webkit-box-shadow: 0px 0px 30px 4px rgba(0, 0, 0, 0.46);
    box-shadow: 0px 0px 30px 4px rgba(0, 0, 0, 0.46);
}

.padding10 {
    padding: 10px;
}

.BgIcon:hover {
    -webkit-box-shadow: 0px 0px 30px 3px rgba(173, 172, 172, 0.75);
    box-shadow: 0px 0px 30px 3px rgba(173, 172, 172, 0.75);
}

.borderRadius5 {
    border-radius: 5px;
}

.bgGray:hover {
    background-color: rgba(128, 128, 128, 0.61);
}

.bgLightGray {
    background-color: rgba(207, 197, 197, 0.61);
}

.pRelative {
    position: relative;
}

.gap2rem {
    gap: 2rem;
}

.alignCenter {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.fontSize085rem {
    font-size: 0.85rem;
}

.bgWhite {
    background-color: white;
}

.gridColumnsAuto1fr {
    -ms-grid-columns: auto 1fr;
    grid-template-columns: auto 1fr;
}

.gridColumns1fr1fr {
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
}

.bgGreen {
    background-color: green;
}

.gridColumns1frAuto {
    -ms-grid-columns: 1fr auto;
    grid-template-columns: 1fr auto;
}

.hr {
    border: 0.4px rgb(82, 79, 79) solid;
}

.textAlignCenter {
    text-align: center;
}

.gray {
    color: gray;
}

.bgPink {
    background-color: rgb(146, 45, 62);
}

.bgBlue {
    background-color: blue;
}

.justifySpaceBetween {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.margintop50px {
    margin-top: 50px;
}

.pAbsolute {
    position: absolute;
}

.margintop30px {
    margin-top: 30px;
}

.dFlex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.margin20 {
    margin: 20px;
}

.white {
    color: white;
}

.margin10 {
    margin: 10px;
}

/* body */
body {
    -ms-grid-columns: auto 1fr;
    grid-template-columns: auto 1fr;
    height: 100vh;
    font-family: 'Roboto';
    overflow: hidden;
}

/* aside */
aside {
    background-color: rgba(0, 0, 0, 0.824);
    background-image: url(../../assignments/images/card-1.jpeg);
    background-blend-mode: color;
    background-size: cover;
    overflow-y: auto;
}

.listItems {
    padding: 3px;
    margin: 6px 0;
    gap: 3rem;
}

.icons {
    width: 20px;
}

.listItemscontainer {
    margin: 5px;
}

input {
    background-color: inherit;
}

.avatar {
    width: 30px;
    height: 30px;
    border-radius: 100%;
}

.container {
    overflow-y: auto;
}

/* header */
.searchInput {
    border: none;
    outline: none;
    border-bottom: 1px solid gray;
}

.searchInput:focus {
    border-bottom: 2px solid purple;
}

.notificationsList {
    right: 30px;
    top: 10px;
    width: 200px;
}

.pRelative:hover .notificationsList {
    display: block;
}

.displayNone {
    display: none;
    padding: 3px;
}

.notifications {
    font-size: 0.6rem;
    border-radius: 100%;
    width: 13px;
    height: 14px;
    border: 1px solid white;
    right: 8px;
    top: 7px;
}

.transitionBgRed:hover,
.bgRed {
    background-color: red;
    color: white;
}

.circle {
    width: 12px;
    border-radius: 100%;
    -webkit-box-shadow: 0px 0px 170px 30px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 170px 30px rgba(0, 0, 0, 0.75);
}

.contentContainer {
    padding: 40px;
}

/* main */
.iconCard {
    -webkit-transform: translateY(-35px);
    -ms-transform: translateY(-35px);
    transform: translateY(-35px);
    padding: 25px;
}

.locationCardTitle {
    font-size: var(--fontXL);
}

.listingimg {
    width: 100%;
    -webkit-transform: translateY(-40px);
    -ms-transform: translateY(-40px);
    transform: translateY(-40px);
}

.imgTransition {
    -webkit-transition: -webkit-transform 1s ease;
    transition: -webkit-transform 1s ease;
    -o-transition: transform 1s ease;
    transition: transform 1s ease;
    transition: transform 1s ease, -webkit-transform 1s ease;
}

.listingFigures:hover .imgTransition {
    -webkit-transform: translateY(-60px);
    -ms-transform: translateY(-60px);
    transform: translateY(-60px);
}

.listingFigures:hover .listingIcons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.listingIcons {
    -webkit-transition: display 1s ease;
    -o-transition: display 1s ease;
    transition: display 1s ease;
    bottom: 10%;
    left: 50%;
    -webkit-transform: translate(-50%);
    -ms-transform: translate(-50%);
    transform: translate(-50%);
    display: none;
}

.listing {
    -ms-grid-columns: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
}

/* media query*/
@media (max-width: 1000px) {

    aside,
    .desktopHeader {
        display: none;
    }

    .tabletHeader {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        padding: 20px;
    }

    .tabletLocationCard,
    .tabletListingCard {
        -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    }

    .locationListing {
        -ms-grid-columns: 1fr auto;
        grid-template-columns: 1fr auto;
    }

    .tabletListingCard {
        gap: 4.5rem;
    }
}

@media(max-width: 550px) {
    .telephoneStatisticsCards {
        -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    }
}