.button {
    margin: 20px auto;
    display: flex;
    padding: 10px 20px;
    background-color: #4caf50;
    color: #fff;
    font-size: 1rem;
    font-weight: bold;
    text-align: center;
    border: none;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.button:hover {
    background-color: #45a049;
    transform: translateY(-2px);
}