* {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(253, 246, 240);

}

/* global */
a,
li {
    text-decoration: none;
    list-style: none;
    color: rgb(31, 31, 31);
}

span {
    color: rgb(228, 174, 49);
}

/* header */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.listcard1 {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 20px;
}