* {
    box-sizing: border-box;
}

body {
    height: 100vh;

}

#movieThumb {
    overflow-x: scroll;
    width: 1050px;
    display: flex;
    gap: 1rem;
}

#movieThumb li {
    list-style: none;
}

#movieThumb img {
    width: 200px;
    list-style: none;
    text-align: center;
}