h1{
    background-color: blanchedalmond;
    color: brown;
    font-size: 100;
   
}
h2{
    background-color: lavender;
    color: purple;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
h3{
    background-color: rgb(190, 176, 116);
    color: crimson;
    font-size: 250px;
}
p{
    background-color: burlywood;
    color: rgb(4, 42, 44);
   text-decoration: underline;

}
