body {
    font-family: "Kalam", cursive;
}

.style::first-letter {
    float: left;
    font-size: 120px;
    line-height: 0.6;
    text-decoration: red underline;
    font-family: "Lalezar", system-ui;
}


.style2 {
    font-size: 30px;
    font-family: "Lalezar", system-ui;
    line-height: 0.2;
}