* {
    margin: 0;
    padding: 0;
}

body {
    background-image: url(./images/bgimg3.jpg);
    background-size: cover;
    text-align: center;
    cursor: url('./images/rocket1.png') 16 16, auto;
}

/* Global */

hr {
    border: 1px solid black;
    margin: 15px 100px;
}

.txtUnderline,
td {
    text-decoration: underline;
}

a,
li {
    list-style: none;
    text-decoration: none;
}

h1,
h2,
h3 {
    padding-bottom: 30px;
}

th {
    background-color: rgb(169, 99, 195);
}

/* main */
.bgRed {
    background-color: rgb(215, 137, 137);
    border-radius: 10px;
    width: 110px;
    height: 30px;
}

.bgRed:hover {
    background-color: rgb(185, 68, 68);
}

.card {
    border: 2px solid transparent;
    border-radius: 15px;
    margin: 30px 130px;
    color: aliceblue;
    padding: 20px;
}

.bgBlue {
    background-color: rgb(125, 172, 187);
}

.bgBlue:hover {
    background-color: rgb(60, 139, 165);
    border: 2px solid black;
}

.bgPink {
    background-color: rgb(201, 129, 152);
}

.bgPink:hover {
    background-color: rgb(199, 98, 130);
    border: 2px solid black;
}

.bgwhite {
    background-color: white;
    color: gray;
    border-radius: 15px;
    margin: 10px;
}

.bgLavender {
    background-color: rgb(201, 160, 216);
}


.bgLavender:hover {
    background-color: rgb(169, 99, 195);
    border: 2px solid black;
}

table {
    border-collapse: collapse;
    border: #000;
    text-align: center;
}

.bgYellow {
    background-color: rgb(219, 231, 106);
}


.bgYellow:hover {
    background-color: rgb(190, 206, 41);
    border: 2px solid black;
}

.card2 {
    margin: 30px 130px;
    color: aliceblue;
    padding: 20px;
    background-color: rgb(72, 69, 69);
}


.box1 li {
    display: inline-block;
    position: relative;
    margin: 10px 30px;
}

.box1 li:not(:last-child)::after {
    content: '';
    position: absolute;
    right: -35px;
    bottom: 8px;
    display: inline-block;
    width: 2px;
    height: 17px;
    background-color: #000;
}

.formMargin {
    margin: 7px 3px;
}

.imgBorder {
    border-radius: 10px;
    margin: 10px 10px;
}

.buttonStyle {
    background-color: orangered;
    border-radius: 5px;
    border: 1px solid transparent;
    width: 20px;
    position: relative;
    top: -5px;
}