* {
    margin: 0;
    padding: 0;
}

body {
    background-image: url(./images/bgimg3.jpg);
    background-size: cover;
    text-align: center;
    cursor: url("./images/rocket.png") 16 16, pointer;
}

/* Global */

hr {
    border: 1px solid black;
    margin: 15px 100px;
}

.txtUnderline,
td {
    text-decoration: underline;
}

a,
li {
    list-style: none;
    text-decoration: none;
}

h1,
h2,
h3 {
    padding-bottom: 30px;
}

th {
    background-color: rgb(169, 99, 195);
}

/* header */

.bgRed {
    background-color: rgb(215, 137, 137);
    border-radius: 10px;
    width: 110px;
    height: 30px;
}

.bgRed:hover {
    background-color: rgb(185, 68, 68);
}

.headerButtons {
    display: inline;
    border-radius: 20px;
    padding: 10px 20px;
}

.dInline {
    display: inline;
    margin: 0 20px;
}

.textCenter {
    text-align: center;
}